# Used to authenticate with the linear API https://developers.linear.app/docs/
LINEAR_API_KEY="lin_api_ENypBamyKSLRpRUsb02tBbZiuRe3NepUdhIROzEA"

# Used to authenticate with the notion API https://www.notion.so/my-integrations
NOTION_API_KEY=""

# The page to fetch entries from and add entries to. You can find the id from
the share URL of a document from the Notion UI.
NOTION_PAGE_ID=""

# Used for summarizing tasks and posting to slack on your behalf
SLACK_API_KEY=""

# Specify which channel to post to. Find the Slack Channel API from the Slack UI
# Open the channel settings\about panel
SLACK_CHANNEL_ID=""
