{:lint-as {kitchen-async.promise/-> clj-kondo.lint-as/->
           kitchen-async.promise/let clj-kondo.lint-as/let
           kitchen-async.promise/try clj-kondo.lint-as/try
           kitchen-async.promise/catch clj-kondo.lint-as/catch}}
