@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-shadow {
		text-shadow: 0px 1px 0px black;
	}
	.text-shadow-md {
		text-shadow: 4px 4px 8px black;
	}
	.text-shadow-lg {
		text-shadow: 15px 15px 30px black;
	}
	.text-shadow-none {
		text-shadow: none;
	}
}
@layer components {
	.notion {
		@apply bg-notion-light dark:bg-notion-dark;
	}

	.notion-subtle {
		@apply bg-notion-subtle-light dark:bg-notion-subtle-dark;
	}

	.btn-primary {
		@apply bg-gradient-to-b from-green-500 to-green-600
			hover:bg-gradient-to-b hover:from-green-400 hover:to-green-500
			active:bg-gradient-to-b active:from-blue-600 active:to-blue-500
			border border-black;
	}
	.btn {
		@apply text-white rounded px-4 py-1 shadow w-full block sm:w-auto shadow-inner;
	}
	.dropdown-btn {
		@apply btn btn-primary flex-grow-0 rounded-l-none border-r-0 border-t-0
		border-b-0 border-l border-l-green-900 flex flex-col justify-center w-8 px-0
		items-center;
	}
	.dropdown-view {
		@apply notion-subtle shadow-lg border border-gray-800 divide-y
			divide-gray-600 absolute rounded-lg shadow-lg left-0 right-0
			top-full z-20;
	}
	.dropdown-overlay {
		@apply fixed left-0 right-0 top-0 bottom-0;
	}
	.dropdown-item {
		@apply text-black dark:text-white w-full text-left px-4 py-2 text-sm
		  hover:text-blue-600 dark:hover:text-blue-300;
	}
}
