@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-shadow {
		text-shadow: 0px 1px 0px black;
	}
	.text-shadow-md {
		text-shadow: 4px 4px 8px black;
	}
	.text-shadow-lg {
		text-shadow: 15px 15px 30px black;
	}
	.text-shadow-none {
		text-shadow: none;
	}
}
@layer components {
	.btn-primary {
		@apply bg-gradient-to-b from-green-500 to-green-600
			hover:bg-gradient-to-b hover:from-green-400 hover:to-green-500
			active:bg-gradient-to-b active:from-blue-500 active:to-blue-400
			border border-black;
	}
	.btn {
		@apply text-white rounded px-4 py-1 shadow w-full block sm:w-auto;
	}
	.dropdown-toggle:checked + .dropdown-view {
		@apply block;
	}
	.dropdown-view {
		@apply bg-gray-800 shadow-lg border border-gray-500 divide-y
			divide-gray-600 hidden absolute rounded-sm shadow-lg left-0 right-0
			top-full;
	}
	.dropdown-item {
		@apply text-white text-shadow w-full text-left px-4 py-2 text-sm
			hover:bg-gradient-to-b hover:from-green-400 hover:to-green-500
			active:bg-gradient-to-b active:from-blue-500 active:to-blue-400
			shadow-inner;
	}
}
